In [1]:
import numpy  as  np
import pandas as pd
import sklearn.datasets  as datasets
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
path=r"../datas/SMSSpamCollection"

In [3]:
data=pd.read_table(path,header=None)
data.shape

(5572, 2)

In [4]:
data

         0                                                  1
0      ham  Go until jurong point, crazy.. Available only ...
1      ham                      Ok lar... Joking wif u oni...
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...
3      ham  U dun say so early hor... U c already then say...
4      ham  Nah I don't think he goes to usf, he lives aro...
...    ...                                                ...
5567  spam  This is the 2nd time we have tried 2 contact u...
5568   ham               Will ü b going to esplanade fr home?
5569   ham  Pity, * was in mood for that. So...any other s...
5570   ham  The guy did some bitching but I acted like i'd...
5571   ham                         Rofl. Its true to its name

[5572 rows x 2 columns]

In [5]:
data[0].unique()

array(['ham', 'spam'], dtype=object)

In [6]:
from  sklearn.naive_bayes import  MultinomialNB #多项式
from sklearn.feature_extraction.text  import TfidfVectorizer #文本处理工具

In [7]:
tf=TfidfVectorizer() #文本向量分析
x=tf.fit(data[1]).transform(data[1])
x

<5572x8713 sparse matrix of type '<class 'numpy.float64'>'
	with 74169 stored elements in Compressed Sparse Row format>

In [8]:
x.shape

(5572, 8713)

In [11]:
y=data[0]
y

0        ham
1        ham
2       spam
3        ham
4        ham
        ...
5567    spam
5568     ham
5569     ham
5570     ham
5571     ham
Name: 0, Length: 5572, dtype: object

In [12]:
mnb=MultinomialNB ()
mnb.fit(x,y)

MultinomialNB(alpha=1.0, class_prior=None, fit_prior=True)

In [13]:
mnb.score(x,y)

0.9761306532663316

In [14]:
x_test=tf.transform(["money"])
x_test

<1x8713 sparse matrix of type '<class 'numpy.float64'>'
	with 1 stored elements in Compressed Sparse Row format>

In [16]:
mnb.predict(x_test)

array(['ham'], dtype='<U4')